.Mypage_wrap {
    display: flex;
    padding: 60px 360px 120px 50px;

    aside {
        display: flex;
        flex-direction: column;
        width: 260px;
        margin-top: 80px;
        padding: 40px 20px;
        border-radius: 28px;
        border: 1.5px solid var(--green);
        background-color: var(--background);
        align-items: center;

        img {
            width: 150px;
        }

        .user_id {
            margin-top: 40px;
            font-size: 20px;
            font-weight: 400;
            color: var(--white);
        }

        .together {
            margin-top: 25px;
            font-size: 14px;
            font-weight: 400;
            color: var(--yellow);
        }

        .divider {
            width: 220px;
            border-bottom: 1px solid var(--blue);
            margin-top: 50px;
        }

        .mypage_menu {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            align-items: center;

            .menu_item {
                font-size: 16px;
                font-weight: 400;
                color: var(--white);
                cursor: pointer;
                margin-bottom: 40px;
            }

            .menu_item.active {
                color: var(--green);
            }
        }

        .logout {
            font-size: 12px;
            font-weight: 400;
            margin-top: 77px;
            margin-bottom: 10px;
            text-decoration: underline;
            text-underline-offset: 2px;
            cursor: pointer;
        }
    }
}